<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OwnIt</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <header class="header">
        <div class="logo">Own.It</div>
        <button class="join-btn">Guide</button>
    </header>

    <div class="main-container">
        <div class="left-section">
            <h1>Wear It, like you Own.It</h1>

            <div class="container">
                <div class="input-row">
                    <div class="input-group">
                        <label for="height">Height (in feet and inches)</label>
                        <input required type="number" id="height" name="height" placeholder="Enter in feet and inches">
                    </div>
                    <div class="input-group">
                        <label for="weight">Weight (in kg)</label>
                        <input required type="number" id="weight" name="weight" placeholder="Enter in kgs">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label for="waist">Waist (in inches)</label>
                        <input required type="number" id="waist" name="waist" placeholder="Enter in inches">
                    </div>
                    <div class="input-group">
                        <label for="bust">Chest/Bust (in inches)</label>
                        <input required type="number" id="bust" name="bust" placeholder="Enter in inches">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label for="hip">Hip (in inches)</label>
                        <input required type="number" id="hip" name="hip" placeholder="Enter in inches">
                    </div>
                    <div class="input-group" id="bra_cup_section">
                        <label for="cupsize">Cup Size</label>
                        <select id="cupsize" name="Cup_Size">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="DD">DD</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label for="gender">Gender</label>
                        <select id="gender" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <button class="button" id="predictButton">Predict Size</button>
            </div>
        </div>
        <div class="right-section">
            <img src="https://images.unsplash.com/photo-1571513800374-df1bbe650e56?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZmFzaGlvbnxlbnwwfHwwfHx8MA%3D%3D"
                alt="Fashion">
        </div>
    </div>

    <div class="contact-section">
        <section class="footer-section">
            <div class="footer-container">
                <a class="footer-brand">
                    <span class="footer-title">Own It</span>
                </a>
                <p class="footer-description">© 2024 team girder</p>
                <span class="footer-social">
                    <a class="footer-social-link">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="footer-icon" viewBox="0 0 24 24">
                            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                        </svg>
                    </a>
                    <a class="footer-social-link">
                        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            class="footer-icon" viewBox="0 0 24 24">
                            <path
                                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                            </path>
                        </svg>
                    </a>
                    <a class="footer-social-link">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="footer-icon" viewBox="0 0 24 24">
                            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                        </svg>
                    </a>
                    <a class="footer-social-link">
                        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="0" class="footer-icon" viewBox="0 0 24 24">
                            <path stroke="none"
                                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                            </path>
                            <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                    </a>
                </span>
            </div>
        </section>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
